<form action="/places" method="post">
  <label for="newCity">Add city name: </label>
  <input id="newCity" name="newCity" type="text">
  <label for="stayTime">How long you stayed? </label>
  <input id="stayTime" name="stayTime" type="text">
  <label for="withWhom"> Whom you travelled with? </label>
  <input id="withWhom" name="withWhom" type="text">
  <label for="entry"> Add journal entry: </label>
  <input id="entry" name="entry" type="text">
  <label for="photoUrl"> Add a link to a photo: </label>
  <input id="photoUrl" name="photoUrl" type="text">


  <button type="submit">Submit</button>
</form>